body
{
	background-image: url('../assets/images/background.jpg');
	background-repeat: no-repeat;
	background-size: 99% 99%;
	display: block;
	font-family: Arial;
}
#mainview
{
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
}
#scoreboard
{
	background-color: #CCCCCC;
	display: block;
	position: absolute;
	height: 70px;
	opacity: 0.5;
	left: 0px;
	top: 0px;
	width: 20%;
	z-index: 1000;
}
#scoreboard h1
{
	color: #CC0000;
	margin: 10px auto;
	text-align: center;
	text-decoration: underline;
}
#scoreboard p
{
	color: #CC0000;
	text-align: center;
}
#player-initials
{
	background-color: #FFFFFF;
	display: none;
	position: absolute;
	height: 99%;
	left: 0px;
	top: 0px;
	width: 99%;
	z-index: 1010;
}